<!-- starting -->
  <!-- create moduel -->
<html ng-app="myModule">

<head>
<!-- AngularJS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script>
</head>

<body ng-controller="myController">

<form ng-submit="submit()">
<input ng-model="btnItemsShown" type="submit" name="words" value="words"/>
</form>

<form ng-submit="submitWordRandom()">
<input ng-model="btnItemsShown" type="submit" name="randomWord" value="randomWord"/>
</form>

<p ng-repeat="value in btnItemsShown"> {{value}} </p>

<!-- bonus button that will fire off for given amount of time,
idea of math -->
<input type="button" name="masterList.taskName" value="submit"/>
<input type="button" name="masterList.taskName" value="submit"/>
<input type="button" name="masterList.taskName" value="submit"/>


<!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src = 'initialJS.js'> </script>
  <link rel="stylesheet" href = 'initialCSS.css'/>
</body>

</html>
